<footer class="bg-gray-200">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">


        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-body sm:text-center">
                © 2026 Tabibak. All rights reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0 gap-5">
                <a href="https://www.facebook.com/profile.php?id=61582188380371&locale=ar_AR"
                    class="text-body hover:text-heading">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="http://linkedin.com/company/112224736/?fbclid=IwY2xjawRQjY1leHRuA2FlbQIxMABicmlkETFVMHU1MzBoZWhuTlFWVGdSc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHkoC3QYNJt5vbCazdQ85ZOaqwyYGlRqrj4rsF0eZ-7m2bshwMXoAnNTiQJos_aem_TLigXkkqyHuuaCLuzbNsDA" class="text-body hover:text-heading">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M20.447 20.452H16.89v-5.569c0-1.328-.026-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.345V9h3.414v1.561h.049c.476-.9 1.637-1.85 3.368-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a1.962 1.962 0 1 1 0-3.924 1.962 1.962 0 0 1 0 3.924zM6.814 20.452H3.861V9h2.953v11.452z" />
                    </svg>
                    <span class="sr-only">LinkedIn page</span>
                </a>
                <a href="https://www.instagram.com/tabibak.clinic.official/?fbclid=IwY2xjawRQjR5leHRuA2FlbQIxMABicmlkETFVMHU1MzBoZWhuTlFWVGdSc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHnkES1sz2_E56dhYNQqvLml8tSsMjdwT7BfCavqW3FMGV-R__ckTm_JQOo9K_aem_CgQ5Z01nxaQfPpYAAQxiwQ" class="text-body hover:text-heading">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M7.5 2h9A5.5 5.5 0 0 1 22 7.5v9A5.5 5.5 0 0 1 16.5 22h-9A5.5 5.5 0 0 1 2 16.5v-9A5.5 5.5 0 0 1 7.5 2zm9 2h-9A3.5 3.5 0 0 0 4 7.5v9A3.5 3.5 0 0 0 7.5 20h9a3.5 3.5 0 0 0 3.5-3.5v-9A3.5 3.5 0 0 0 16.5 4zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm4.75-2.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="https://x.com/TabibakClinic?fbclid=IwY2xjawRQjFRleHRuA2FlbQIxMABicmlkETFVMHU1MzBoZWhuTlFWVGdSc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHnkES1sz2_E56dhYNQqvLml8tSsMjdwT7BfCavqW3FMGV-R__ckTm_JQOo9K_aem_CgQ5Z01nxaQfPpYAAQxiwQ"
                    class="text-body hover:text-heading ms-5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z" />
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>

            </div>
        </div>
    </div>
</footer>