<section id="cta" class="py-28 px-6 relative overflow-hidden bg-teal-100">

    <!-- background glow -->
    <div class="absolute -top-24 -left-24 w-80 h-80 bg-teal-100 rounded-full blur-3xl opacity-60"></div>
    <div class="absolute -bottom-24 -right-24 w-80 h-80 bg-teal-200 rounded-full blur-3xl opacity-40"></div>

    <div class="max-w-4xl mx-auto text-center relative z-10">

        <h2 class="text-3xl md:text-4xl font-bold text-gray-800">
            Start Using Tabibak Today
        </h2>

        <p class="mt-4 text-gray-500">
            Join now and make healthcare booking simple and fast
        </p>

        <!-- form box -->
        <form class="mt-5 flex flex-col md:flex-row gap-3 items-stretch">

            <input type="email" id="email"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-teal focus:border-teal block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                placeholder="Enter Your Email..." required />

            <button type="submit"
                class="cursor-pointer text-white bg-teal box-border border border-transparent hover:bg-teal-strong focus:ring-4 focus:ring-teal-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                Submit
            </button>

        </form>

    </div>

</section>