<section class="py-24 px-6">
    <div class="max-w-6xl mx-auto">

        <div class="relative">

            <!-- line -->
           <div class="hidden md:block absolute top-8 left-0 right-0 h-[2px] bg-teal-200 origin-left animate-[grow_1.5s_ease-out]"></div>
            <div class="grid md:grid-cols-3 gap-12 text-center">

                <!-- Feature 1 -->
                <div
                    class="relative flex flex-col items-center transition duration-300 hover:-translate-y-2 hover:scale-105">

                    <div
                        class="w-16 h-16 bg-teal-100 rounded-full flex items-center justify-center z-10 transition duration-300 hover:scale-110 hover:rotate-3">
                        <i class="fas fa-calendar-check text-teal-600 text-xl"></i>
                    </div>

                    <h3 class="mt-6 text-lg font-semibold">Easy Booking</h3>
                    <p class="text-gray-500 text-sm mt-2">
                        Book your doctor in seconds
                    </p>

                </div>

                <!-- Feature 2 -->
                <div
                    class="relative flex flex-col items-center transition duration-300 hover:-translate-y-2 hover:scale-105">

                    <div
                        class="w-16 h-16 bg-teal-100 rounded-full flex items-center justify-center z-10 transition duration-300 hover:scale-110 hover:rotate-3">
                        <i class="fas fa-notes-medical text-teal-600 text-xl"></i>
                    </div>

                    <h3 class="mt-6 text-lg font-semibold">Medical Records</h3>
                    <p class="text-gray-500 text-sm mt-2">
                        Store all patient data in one secure place for easy access anytime
                    </p>

                </div>

                <!-- Feature 3 -->
                <div
                    class="relative flex flex-col items-center transition duration-300 hover:-translate-y-2 hover:scale-105">

                    <div
                        class="w-16 h-16 bg-teal-100 rounded-full flex items-center justify-center z-10 transition duration-300 hover:scale-110 hover:rotate-3">
                        <i class="fas fa-map-marker-alt text-teal-600 text-xl"></i>
                    </div>

                    <h3 class="mt-6 text-lg font-semibold">Nearby Doctors</h3>
                    <p class="text-gray-500 text-sm mt-2">
                        Find doctors near you
                    </p>

                </div>

            </div>
        </div>

    </div>
</section>